<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/auth.css" />
    <title>SignIn</title>
  </head>

  <body>
    <div>
      <div class="container">
        <h1>Sign In</h1>
        <form method="POST">
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
            />
            <% if(errormsg && errormsg.email){ %>

            <div class="alert alert-danger" role="alert">
              <%= errormsg.email %>
            </div>
            <% } %>
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="inputPassword"
            />
            <% if(errormsg && errormsg.password){ %>

            <div class="alert alert-danger" role="alert">
              <%= errormsg.password %>
            </div>
            <% } %>
          </div>

          <button type="submit" class="btn btn-primary">SignIn</button>
          <p class="need">Need An Account <a href="/signup">SignUp</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
